.next
node_modules
.env
.env.local
public/uploads/*
!public/uploads/local-1/
!public/uploads/local-1/**
!public/uploads/local-2/
!public/uploads/local-2/**
public/packets/*
!public/packets/local-1/
!public/packets/local-1/**
!public/packets/local-2/
!public/packets/local-2/**
coverage
dist
*.log
tsconfig.tsbuildinfo
